body {
  background-image: url("./world.png");
  background-size: contain;
  background-color: lightblue;
}
.container {
  align-items: center;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: 60vw;
}

.card {
  align-items: center;
  background-color: #f1f1f1;
  border: 5px solid cadetblue;
  border-radius: 30px;
  display: flex;
  font-family: Arial, serif;
  height: 15vw;
  justify-content: center;
  margin: 2vw;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 2s ease;
  width: 15vw;
}

p {
  background-color: lightblue;
  border-radius: 10px;
  font-size: 1.5rem;
  width: 12vw;
}

h1 {
  background-color: lightblue;
  border-radius: 30px;
  font-size: 2.5rem;
  margin: 1rem 5vw;
  text-align: center;
  font-family: Algerian, serif;
}

.front,
.middle,
.back {
  position: absolute;
}

.back {
  transform: rotateY(180deg);
}

.card:hover {
  transform: rotateY(180deg);
}
